body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: #333;
    padding: 20px;
    margin: 0;
    min-height: 100vh; /* Фон на весь екран */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    text-align: center;
    color: #fff;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #6c63ff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #5548c8;
  }
  
  #new-list-button {
    margin-bottom: 20px;
  }
  
  .list {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
  }
  
  .completed {
    text-decoration: line-through;
    color: #888;
  }
  
  button.toggle {
    background-color: #ffa502;
  }
  
  button.toggle:hover {
    background-color: #e67e22;
  }
  
  button.remove {
    background-color: #e74c3c;
  }
  
  button.remove:hover {
    background-color: #c0392b;
  }
  
  .list-name {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-buttons {
    display: flex;
    gap: 10px;
  }
  
  .completed-percentage {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }
  